@use "../foundation/system" as s;

.c-top {
    background-color: s.$c-white;
    @include s.breakpoint(tablet) {
        background-color: red;
    }
    @include s.breakpoint(sp) {
        background-color: blue;
    }
    p {
        @include s.garamond();
    }
}
