<footer class="o-footer">
    <p class="o-footer__text">テキスト</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
<script src="<%= ROOT %>/js/index.js" defer></script>
