@use "../foundation/system" as s;

// breakpointの記述
@include s.breakpoint(tablet) {
}
@include s.breakpoint(sp) {
}

// 変数の記述
.sample {
    color: s.$c-base-white;
    background-color: s.$c-base-black;
    border: solid 2px s.$c-primary;
    &:hover {
        background-color: rgba($color: s.$c-body-black, $alpha: 0.3);
    }
    // mixinの記述
    @include s.garamond();
    @include s.transition-base();
    @include s.content-maxwidth();
}
