<main>
    <section>
        <h2>h2タイトル</h2>
        <p>テキスト</p>
    </section>
    <section>
        <h2>h2タイトル</h2>
        <p>テキスト</p>
        <img src="<%= ROOT %>/img/top/img_bnr01.jpg" alt="">
    </section>
</main>
