<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include('./_common/_head', { path:path,meta:data.meta['home'],})%>
    </head>
    <body class="c-top">
        <%- include('./_common/_header',{path:path,}) %>

        <main>
            Main
            main
            Main
            <p class="c-top__intro-text">
                HIXは髪の毛の写真を撮って、質問に答えるだけで、専門家が薄毛の進行や頭皮状態を判定し、<br class="nobr-sp">
                ご自宅での効果的なヘアケアをサポートするスマートフォンアプリです。
            </p>
        </main>

        <%- include('./_common/_footer',{path:path,}) %>
    </body>
</html>
