<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include('./_common/_head', { path:path,meta:data.meta['home'],})%>
    </head>
    <body>
        <%- include('./_common/_header',{path:path,}) %>

        <main class="c-top">
            <h1>main</h1>
            <p>garamond</p>
            <section class="c-section">
                <p class="sample">section</p>
                <a href="<%= path %>about/">About</a>
                <ul class="masterList">
                </ul>
                <div class="calenderWrap">
                    <div class="calenderInner">
                        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&showTitle=0&showNav=0&showDate=1&showTz=0&showCalendars=0&showPrint=0&showTabs=0&title=%E3%81%BE%E3%81%A1%E3%81%AE%E3%82%B9%E3%83%8A%E3%83%83%E3%82%AF&src=bWFjaGluby5zbmFja0BnbWFpbC5jb20&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%238E24AA&color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </section>
        </main>

        <%- include('./_common/_footer',{path:path,}) %>
    </body>
</html>
