<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include('./_common/_head', { path:path,meta:data.meta['home'],})%>
    </head>
    <body>
        <%- include('./_common/_header',{path:path,}) %>

        <main class="c-top">
            <h1>main</h1>
            <p>garamond</p>
            <section class="c-section">
                <p class="sample">section</p>
                <a href="<%= path %>about/">About</a>
            </section>
        </main>

        <%- include('./_common/_footer',{path:path,}) %>
    </body>
</html>
