<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include('./_common/_head', { path:path,meta:data.meta['home'],})%>
    </head>
    <body class="c-top">
        <%- include('./_common/_header',{path:path,}) %>

        <main>
            Main
        </main>

        <%- include('./_common/_footer',{path:path,}) %>
    </body>
</html>
