<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include('./_common/_head', { path:path,meta:data.meta['home'],})%>
    </head>
    <body>
        <%- include('./_common/_header',{path:path,}) %>

        <main class="c-top">
            main
            <section>
                test
            </section>
            <section>
                test
                <p>テキスト</p>
            </section>
            
        </main>

        <%- include('./_common/_footer',{path:path,}) %>
    </body>
</html>
