@use "../foundation/system" as s;

.c-top {
    margin: 0;
    padding: 1em;
    display: flex;
    @include s.breakpoint(tablet) {
        margin: 1em;
    }
    @include s.breakpoint(pc) {
        margin: 2em;
    }
}
