@use "../foundation/system" as s;

.c-top {
    margin: 0;
    padding: 1em;
    display: flex;
    @include s.breakpoint(tablet) {
        background-color: red;
    }
    @include s.breakpoint(sp) {
        background-color: blue;
    }
    p {
        @include s.garamond();
    }
}
